[submodule "Infinity/vendor/spdlog"]
	path = Infinity/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Infinity/vendor/GLFW"]
	path = Infinity/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Infinity/vendor/imgui"]
	path = Infinity/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Infinity\\vendor\\glm"]
	path = Infinity\\vendor\\glm
	url = https://github.com/g-truc/glm
